<div class="wrapper wizard d-flex clearfix multisteps-form position-relative">

  <div class="steps order-2 position-relative w-25">
    <div class="multisteps-form__progress">
      {{!-- <span class="multisteps-form__progress-btn js-active" title="Application data"><i
          class="far fa-user"></i><span>Account Information</span></span>
      <span class="multisteps-form__progress-btn" title="Tax residency"><i class="far fa-user"></i><span>Personal
          Information</span></span>
      <!-- <span class="multisteps-form__progress-btn" title="Indentity documents"><i class="far fa-user"></i><span>Personal information</span></span>
                <span class="multisteps-form__progress-btn" title="Investability"><i class="far fa-user"></i><span>Choose a payment</span></span>
                <span class="multisteps-form__progress-btn" title="Review"><i class="far fa-user"></i><span>Review </span></span> --> --}}
    </div>
  </div>
  <form class="multisteps-form__form w-75 order-1" action="#" id="wizard">
    <div class="form-area position-relative">
      <!-- div 2 -->
      <div class="multisteps-form__panel js-active" data-animation="slideHorz">
        <div class="wizard-forms section-padding">
          <div class="inner pb-100 clearfix">
            <div class="wizard-title text-center">
              <h3>Persional Information</h3>
              <p>Please, enter your personal information</p>
            </div>
      
            <div class="wizard-solution-select">
              <span class="wizard-sub-text">What do you do?</span>
              <div class="row">
                <div class="col-md-4">
                  <label class="option_item">
                    <input type="radio" name="rdbJob" class="checkbox" value="">
                    <span class="option_inner">
                      <span class="tickmark"></span>
                      <span class="icon"><img src="assets/img/d1.png" alt=""></span>
                      <span class="name">I am going to work</span>
                    </span>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="option_item">
                    <input type="radio" name="rdbJob" class="checkbox" value="">
                    <span class="option_inner">
                      <span class="tickmark"></span>
                      <span class="icon"><img src="assets/img/d1.png" alt=""></span>
                      <span class="name">I am going to school</span>
                    </span>
                  </label>
                </div>
                <div class="col-md-4">
                  <label class="option_item">
                    <input type="radio" name="rdbJob" class="checkbox" value="">
                    <span class="option_inner">
                      <span class="tickmark"></span>
                      <span class="icon"><img src="assets/img/d1.png" alt=""></span>
                      <span class="name">I am unemployed</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="wizard-note-subject pb-100 w-100">
              <div class="wizard-form-input select-option-area">
                <label>What is you degree?</label>
                <select>
                  <option>Professional certification</option>
                  <option>Bachelor</option>
                  <option>College</option>
                  <option>University</option>
                  <option>Master</option>
                  <option>Doctor of Phylosophy (Ph.D)</option>
                </select>
              </div>
      
              <div class="wizard-form-input select-option-area">
                <label>Where do you live?</label>
                <select>
                  <option>Select City</option>
                  <option>Bachelor</option>
                </select>
              </div>
              <div class="wizard-form-input select-option-area select-v2">
                <label></label>
                <select>
                  <option>Select District</option>
                  <option>Bachelor</option>
                </select>
              </div>
              <div class="wizard-form-input select-option-area select-v2">
                <label></label>
                <select>
                  <option>Select Ward</option>
                  <option>Bachelor</option>
                </select>
              </div>
              <div class="wizard-form-input select-option-area">
                <label>What languages do you know?</label>
                <select class="selectpicker" multiple data-live-search="true">
                  <option value="1">USA</option>
                  <option value="2">Germany</option>
                  <option value="3">France</option>
                  <option value="4">Poland</option>
                  <option value="5">Japan</option>
                </select>
              </div>
              <div class="wizard-form-input select-option-area">
                <label>What skills do you haves?</label>
                <select class="mdb-select md-form selectpicker" multiple data-live-search="true">
                  <option value="1">USA</option>
                  <option value="2">Germany</option>
                  <option value="3">France</option>
                  <option value="4">Poland</option>
                  <option value="5">Japan</option>
                </select>
              </div>
              <div class="wizard-form-input select-option-area">
                <label>How much can you spend on coures?</label>
                <select>
                  <option>Select City</option>
                  <option>Bachelor</option>
                </select>
              </div>
              <div class="wizard-form-input select-option-area pb-10">
                <label>What time is right for you, if we have an offline courses?</label>
                <select>
                  <option>Select City</option>
                  <option>Bachelor</option>
                </select>
              </div>
            </div>
            <div class="wizard-v3-progress">
              {{!-- <span>2 to 2 step</span>
              <h3>100% to complete</h3>
              <div class="progress">
                <div class="progress-bar" style="width: 100%">
                </div>
              </div> --}}
            </div>
          </div>
          <!-- /.inner -->
          <div class="vector-img-one pt-50" style="left: -50px;">
            <img src="assets/img/vb2.png" alt="">
          </div>
          <div class="actions mt-60">
            <ul>
              <li><button title="NEXT">SUBMIT <i class="fa fa-arrow-right"></i></button></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>