<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="err-img w-100">
          <img src="/assets/img/404.png" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <p class="text-bold text-center text-danger err-text">Oops! The page that you're looking for has not been found!</p>
      </div>
    </div>
  </div>
</main>