<!-- populer course area start -->
<div class="event-details ptb--100">
  <div class="container">
    <div class="row">
      <!-- main content start -->
      <div class="col-lg-9 col-md-8">
        <div class="single-course">
          <div class="course-thumb">
            <a href="#"><img src="/assets/HomePage/img/course/course-details-img.jpg" alt="image"></a>
          </div>
          <div class="ev-content">
            <div class="ev-left">
              <strong>22</strong>
              <span>December</span>
            </div>
            <div class="ev-meta">
              <h2><a href="#">Guest interview will occurem soon this auditorium.</a></h2>
              <span><i class="icofont icofont-clock-time"></i>10:00 AM - 12:00 PM</span>
              <span><i class="icofont icofont-location-pin"></i>70, South Windsor, USA</span>
            </div>
          </div>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae soluta qui ducimus
            explicabo facere voluptatum ullam, asperiores ipsum doloremque laboriosam magnam blanditiis harum beatae
            quis reiciendis fugiat, a sed voluptate. Consequatur nesciunt totam deserunt illo ducimus, voluptas aliquid
            libero earum veritatis alias, laudantium laborum expedita rerum atque voluptates sunt. Voluptate eligendi
            facere odit perferendis soluta qui similique, adipisci provident obcaecati nobis fuga dolorem incidunt
            fugiat repellendus aspernatur dolore atque, ad distinctio totam hic ullam voluptatum, laudantium voluptatem
            impedit. Quia, vel.</p>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae soluta qui ducimus
            explicabo facere voluptatum ullam, asperiores ipsum doloremque laboriosam magnam blanditiis harum beatae
            quis reiciendis fugiat, a sed voluptate.</p>
          <div class="countdown">
            <div data-countdown="2018/05/18"></div>
          </div>
        </div>
        <div class="feature-teacher row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-teacher">
              <div class="teacher-thumb">
                <img src="/assets/HomePage/img/teacher/img1.jpg" alt="teacher">
                <ul class="t-social">
                  <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                  <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                  <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                  <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                </ul>
              </div>
              <div class="tch-meta">
                <h4><a href="#">Crystal Massey</a></h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-teacher">
              <div class="teacher-thumb">
                <img src="/assets/HomePage/img/teacher/img2.jpg" alt="teacher">
                <ul class="t-social">
                  <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                  <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                  <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                  <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                </ul>
              </div>
              <div class="tch-meta">
                <h4><a href="#">Crystal Massey</a></h4>
                <span>UI/UX Designer</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-teacher">
              <div class="teacher-thumb">
                <img src="/assets/HomePage/img/teacher/img3.jpg" alt="teacher">
                <ul class="t-social">
                  <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                  <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                  <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                  <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                </ul>
              </div>
              <div class="tch-meta">
                <h4><a href="#">Crystal Massey</a></h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main content end -->
      <!-- widget sidebar start -->
      <div class="col-lg-3 col-md-4">
        <div class="widget_sidebar">
          <!-- widget search start -->
          <div class="widget widget_search">
            <form action="#">
              <input type="text" name="search" placeholder="Search Here..">
              <button type="submit"><i class="icofont icofont-search-alt-2"></i></button>
            </form>
          </div>
          <!-- widget search end -->
          <!-- widget category start -->
          <div class="widget widget_category">
            <h2 class="widget_title">Category</h2>
            <ul>
              <li><a href="#">Case Investigation<span>20</span></a></li>
              <li><a href="#">Education<span>15</span></a></li>
              <li><a href="#">Computer Science<span>36</span></a></li>
              <li><a href="#">Programming<span>11</span></a></li>
              <li><a href="#">UX / UI <span>22</span></a></li>
            </ul>
          </div>
          <!-- widget category end -->
          <!-- widget recent post start -->
          <div class="widget widget_recent_entries">
            <h2 class="widget_title">Recent Post</h2>
            <div class="rcp_post_ist">
              <div class="rcp_single">
                <div class="rcp_thumb">
                  <img src="/assets/HomePage/img/recent-post/img1.jpg" alt="image">
                </div>
                <div class="rcp_content">
                  <h2><a href="blog-standard.html">Contrary to popular belief, Lorem Ipsum is</a></h2>
                  <span>25 Sep 2017</span>
                </div>
              </div>
              <div class="rcp_single">
                <div class="rcp_thumb">
                  <img src="/assets/HomePage/img/recent-post/img2.jpg" alt="image">
                </div>
                <div class="rcp_content">
                  <h2><a href="blog-standard.html">Contrary to popular belief, Lorem Ipsum is</a></h2>
                  <span>25 Sep 2017</span>
                </div>
              </div>
              <div class="rcp_single">
                <div class="rcp_thumb">
                  <img src="/assets/HomePage/img/recent-post/img3.jpg" alt="image">
                </div>
                <div class="rcp_content">
                  <h2><a href="blog-standard.html">Contrary to popular belief, Lorem Ipsum is</a></h2>
                  <span>25 Sep 2017</span>
                </div>
              </div>
              <div class="rcp_single">
                <div class="rcp_thumb">
                  <img src="/assets/HomePage/img/recent-post/img4.jpg" alt="image">
                </div>
                <div class="rcp_content">
                  <h2><a href="blog-standard.html">Contrary to popular belief, Lorem Ipsum is</a></h2>
                  <span>25 Sep 2017</span>
                </div>
              </div>
            </div>
          </div>
          <!-- widget recent post end -->
          <!-- widget teags start -->
          <div class="widget widget_tags">
            <h2 class="widget_title">Tags</h2>
            <ul>
              <li><a href="#">Photo</a></li>
              <li><a href="#">Graphic Design</a></li>
              <li><a href="#">Personal</a></li>
              <li><a href="#">Download</a></li>
              <li><a href="#">Model</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Css</a></li>
            </ul>
          </div>
          <!-- widget teags end -->
        </div>
      </div>
      <!-- widget sidebar end -->
    </div>
  </div>
</div>
<!-- populer course area end -->
<!-- subscription area start -->
<div class="subscription-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <h2>Don’t hesitate subscribe our all newsletter.</h2>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="subs-form">
          <form action="#">
            <input type="email" name="email" placeholder="Email here:">
            <input type="submit" name="submit" value="Subscribe now">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- subscription area end -->