<!-- populer course area start -->
<div class="event-area pt--100 pb--70">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="event-list-type">
          <div class="row">
            <div class="col-lg-6">
              <div class="evnt-thumb">
                <img src="/assets/HomePage/img/course/img1.jpg" alt="image">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ev-content">
                <div class="ev-left">
                  <strong>22</strong>
                  <span>December</span>
                </div>
                <h2><a href="#">Guest interview will occurem soon this auditorium.</a></h2>
                <div class="ev-meta">
                  <span><i class="icofont icofont-clock-time"></i>10:00 AM - 12:00 PM</span>
                  <span><i class="icofont icofont-location-pin"></i>70, South Windsor, USA</span>
                </div>
                <p>Actual teachings of the great explorer aboit human the truth master human happiness rejects dislikes
                  avoids pleasure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="event-list-type">
          <div class="row">
            <div class="col-lg-6">
              <div class="evnt-thumb">
                <img src="/assets/HomePage/img/course/img2.jpg" alt="image">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ev-content">
                <div class="ev-left">
                  <strong>22</strong>
                  <span>December</span>
                </div>
                <h2><a href="#">Guest interview will occurem soon this auditorium.</a></h2>
                <div class="ev-meta">
                  <span><i class="icofont icofont-clock-time"></i>10:00 AM - 12:00 PM</span>
                  <span><i class="icofont icofont-location-pin"></i>70, South Windsor, USA</span>
                </div>
                <p>Actual teachings of the great explorer aboit human the truth master human happiness rejects dislikes
                  avoids pleasure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="event-list-type">
          <div class="row">
            <div class="col-lg-6">
              <div class="evnt-thumb">
                <img src="/assets/HomePage/img/course/img3.jpg" alt="image">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="ev-content">
                <div class="ev-left">
                  <strong>22</strong>
                  <span>December</span>
                </div>
                <h2><a href="#">Guest interview will occurem soon this auditorium.</a></h2>
                <div class="ev-meta">
                  <span><i class="icofont icofont-clock-time"></i>10:00 AM - 12:00 PM</span>
                  <span><i class="icofont icofont-location-pin"></i>70, South Windsor, USA</span>
                </div>
                <p>Actual teachings of the great explorer aboit human the truth master human happiness rejects dislikes
                  avoids pleasure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- populer course area end -->
<!-- subscription area start -->
<div class="subscription-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <h2>Don’t hesitate subscribe our all newsletter.</h2>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="subs-form">
          <form action="#">
            <input type="email" name="email" placeholder="Email here:">
            <input type="submit" name="submit" value="Subscribe now">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- subscription area end -->