<!-- footer area start -->
<footer>
  <div class="footer-top ptb--100">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="fwidget about-company">
            <a href="index.html"><img src="/assets/HomePage/img/icon/foter-logo.png" alt="logo"></a>
            <p>Expound the actual teachings of the great explorer of the truth master human happin ess one rejects
              dislikes avoids pleasure </p>
            <ul class="htp-social">
              <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
              <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
              <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
              <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fwidget important-link">
            <h2>Important Link</h2>
            <ul>
              <li><a href="#"><i class="icofont icofont-long-arrow-right"></i>Themeforest</a></li>
              <li><a href="#"><i class="icofont icofont-long-arrow-right"></i>Graphicriver</a></li>
              <li><a href="#"><i class="icofont icofont-long-arrow-right"></i>Audiojungle</a></li>
              <li><a href="#"><i class="icofont icofont-long-arrow-right"></i>Videoarchive</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-5">
          <div class="fwidget footer-map">
            <div id="google-map"></div>
            <div class="footer-contact">
              <ul>
                <li><span><i class="icofont icofont-phone"></i></span>
                  <p>00 965 - 864 - 938 <br>00 856 - 837 - 394</p>
                </li>
                <li><span><i class="icofont icofont-location-pin"></i></span>
                  <p>71 Pilgrim Avenue <br>Chevy Chase, MD 20815</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>Copyright&copy;Erudion, All right reserved</p>
    </div>
  </div>
</footer>
<!-- footer area end -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>