<!-- contact-area area start -->
<div class="contact-area pt--100">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="wpcf7">
          <div class="screen-reader-response"></div>
          <h2>Get in Tuch</h2>
          <form action="http://irsfoundation.com/tf/html/erudition-preview/erudition/mail.php" method="post"
            id="default_contact_form">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="c_name" id="c_name" placeholder="Name here">
              </div>
              <div class="col-md-6">
                <input type="email" name="c_email" id="c_email" placeholder="Email here">
              </div>
            </div>
            <textarea name="q_msg" id="c_msg" placeholder="Message here"></textarea>
            <input type="submit" value="send message" id="c_submit">
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="contact-r-thumb">
          <img src="/assets/HomePage/img/bg/contact-right-thumb.png" alt="image">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- contact-area area end -->
<!-- google map area start -->
<div class="contact-info-section">
  <div id="google-map"></div>
  <div class="container">
    <div class="contact-info-box">
      <div class="cnt-single">
        <div class="icon"><i class="icofont icofont-phone"></i></div>
        <div class="cnt-content">
          <span>00 985 - 785 - 438</span>
          <span>00 985 - 785 - 438</span>
        </div>
      </div>
      <div class="cnt-single">
        <div class="icon"><i class="icofont icofont-envelope"></i></div>
        <div class="cnt-content">
          <span>wearehere23@gmail.com</span>
          <span>demomail42@gmail.com</span>
        </div>
      </div>
      <div class="cnt-single">
        <div class="icon"><i class="icofont icofont-location-pin"></i></div>
        <div class="cnt-content">
          <span>71 Pilgrim Avenue</span>
          <span>Chevy Chase, MD 20</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- google map area end -->